{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Emanuel</title>
{% endblock head %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/65625500?s=400&u=eb9e300de61698fc8531949a451ce2f0e9da46f9&v=4" alt="Emanuel">
        <h1>Emanuel Massafera</h1>
        <h2>Futuro Full Stack Developer</h2>
        <p>Estudando programação web pela
            <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
        </p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://www.github.com/emanuelmassafera/" tagert="_blank">Github</a>
        <a href="https://www.linkedin.com/in/emanuelmassafera/" tagert="_blank">Linkedin</a>
    </div>

{% endblock content %}